{{ $username := promptString "User name for .gitconfig" -}}
{{ $email := promptString "Your Email for .gitconfig" -}}

[secret]
command = "{{ env "HOME" }}/.local/bin/get-secret.sh"

[template]
options = ["missingkey=zero"]

[data]
username = {{ $username | quote }}
email = {{ $email | quote }}

[hooks.read-source-state.pre]
command = ".local/share/chezmoi/.install-password-manager.sh"
