{{- $userFullName := promptStringOnce . "userFullName" "Your Full Name - use for .gitconfig" -}}
{{- $userEmail := promptStringOnce . "userEmail" "Your Email Address - use for .gitconfig" -}}


[data]
userFullName = {{ $userFullName | quote }}
userEmail = {{ $userEmail | quote }}

