[user]
  name = {{ env "GIT_NAME" | default .userFullName | default "Anonymous" }}
  email = {{ env "GIT_EMAIL" | default .userEmail | default "nobody@example.com" }}
  {{ if .userSigningKey }}
    signingkey = {{ .userSigningKey }}
  {{ else if env "GIT_SIGNING_KEY" }}
    signingkey = {{ env "GIT_SIGNING_KEY" }}
  {{ end }}

[core]
  eol = lf
  autocrlf = input
  safecrlf = false
  excludesfile = ~/.gitignore
  pager = delta

[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto

[alias]
  lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
  lgm = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit master..
  co = checkout
  br = branch
  ci = commit
  st = status
  last = log -1 HEAD
  fo = fetch origin -p
  rb = rebase
  mg = merge
  rbm = rebase origin/master
  mgm = merge origin/master

[difftool]
  prompt = false

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection

[merge]
  conflictStyle = zdiff3

{{ if eq .chezmoi.os "darwin" }}
[diff]
  tool = meld

[difftool "meld"]
  cmd = /Applications/Meld.app/Contents/MacOS/Meld $LOCAL $REMOTE
{{ end }}

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[credential]
  helper = /usr/local/share/gcm-core/git-credential-manager

[credential "https://dev.azure.com"]
  useHttpPath = true

[include]
  path = ~/.gitconfig.local

